* {
  margin: 0;
  padding: 0;
}
@font-face {
font-family: 'Arial-Black'; /*这里是说明调用来的字体名字*/
src: url("Arial Black.ttf"); /*这里是字体文件路径*/
}
body {
  font-family: 'sans-serif';
  font-weight: 900;
}
button {
  font-family: "Arial-Black";
}
.container {
  background-color: rgb(230, 239, 244);
}
.time-table {
  height: 13%;
  width: 100%;
  background-color: #a2d6c6;
  border-bottom:10px solid #82b6b6;
}
.game-table{
  padding: 5%;
  width: 90%;
}
.num-box {
  background-image: url(../img/btn_num.png);
  background-size: 100% 200%;

  width: 18%;
  margin: 1%;
  float: left;
}

.num-box-off {
  background-image: url(../img/btn_num.png);
  background-size: 100% 200%;
  background-position: 0 -100%;
  position: relative;
}
.num-box-off p{
  position: relative;
  top: 6%;
}

.num-box p {
  font-weight: 900;
  color: #eaf5f4;
  font-size: 10vw;
  text-align: center;
  line-height: 17vw;
}

.todark {
  background-color: #849db4;
}
.p-time {
  font-family: 'Arial-Black';
  margin-left: 10vw;
  font-size: 10vw;
  font-weight: 900;
  vertical-align: middle;
  line-height: 200%;
  color: #fff;
    text-shadow: 4px 6px 0px rgba(10, 149, 149,0.2);
}
#time {
  /*font-family: sans-serif;*/
  color: rgb(242, 252, 159)
}
.p-hightest {
  font-size: 8vw;
  font-weight: 900;
  color: #fff;
}
.begin-num {
  font-family: "Arial-Black";
  color: rgb(254, 140, 34);
  font-size: 30vw;
  text-align: center;
  margin-top: 40px;
  text-shadow: 5px 5px 0px rgba(10, 149, 149,0.2);
}
#startGame, #restartGame {
  text-align: center;
  margin: 10%;
  width: 80%;
  height: 10vw;
  height: 15vw;
  color: #fff;
  font-size: 6vw;
  vertical-align:middle;
  border: 2vw solid rgb(254, 140, 34);
  border-radius: 3vw;
  background-color: rgb(254, 185, 121);
  box-shadow: 9px 13px 0px rgba(10, 149, 149,0.2);
}
#restartGame {
  display: none;
}
#gameover {
  display: none;
  text-align: center;
  padding: 5% 8%;
  width: 60%;
  margin: 10% auto 0 auto;
  font-size: 7vw;
  color: #519d74;
  background-color: #d3e9dc;
  border: 2vw solid #519d74;
  border-radius: 3vw;
  box-shadow: 9px 13px 0px rgba(10, 149, 149,0.2);
}
.score-line {
  font-size: 15vw;
  line-height: 17vw;
}
#score {
  color: rgb(254, 140, 34);
}
