h1,h2,h3,h4,h5,h6,section,ul,li,div,header,footer{
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  font-size: arial;
  font-weight: 800;
  color: #22303f;
  min-width: 600px;
  /*background-color: rgb(230, 242, 242);*/
}
.container {
  padding: 20px;
}
.code {
  font-family: Consolas, "Courier New", Courier, monospace;
  color: rgb(102, 168, 7);
  font-weight: 400;
  background-color: rgb(234, 247, 247);
  display: inline-block;
  height: 23px;
}
section {
  width: 800px;
  margin: 20px auto;
}

li {
  list-style-type: none;
}
h2 {
  color: #048d4d;
  clear: both;
  line-height: 50px;
  margin: 20px 0 10px 0;
  /*position: relative;
  left: -10px;*/
}
h3 {
  margin: 5px 0;
}
a {
  /*text-decoration: none;*/
  color: #3273bf;
  font-weight: 900;
}

.center {
  text-align: center;
}
.info-item {
  margin: 15px 0;
}
.list-info {
  display: block;
  width: 300px;
  float: left;
}
.info-item span{
  display: inline-block;
  width: 4em;
  text-align: right;
}
.tech-name {
  clear: both;
  color: #666;
  margin: 5px 0;
}
.list-tech li {
  font-family: Consolas, "Courier New", Courier, monospace;
  /*float: left;*/
  color: rgb(102, 168, 7);

  line-height: 160%;
  font-weight: 900;
  /*text-align: center;*/

}
.list-tech li span {
  color:#e36816;
}
.list-tech {
  clear: both;
}

.icon-tech {
  width: 70px;
  height: 70px;
}

.tech-type {
  margin: 10px 60px 10px 0;
  float: left;
}
.proj-desc {
  line-height: 25px;
  text-indent:2em;
  font-weight: 600;
}
.proj-desc span {
  text-indent:0;
}
.art-proj {
  margin-top: 20px;
}
.art-proj h3 {
  color: #3273bf;
}
.proj-dev {
  color: #888;
}
.edu-info span{
  color: #3273bf;
  display: inline-block;
  margin-right: 30px;
}
.edu-list li,.work-list li,.self-list li{
  margin: 15px 0;
}
.edu-list li span,.work-list li span,.self-list li span {
  display: inline-block;
  color: rgb(11, 179, 158);
  margin-right: 10px;
}
header {
  width: 100%;
  height: 3px;
  background-color: #048d4d;
}
footer {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: rgba(100,100,100,0.1);

}
footer p {
  margin: 0;
  line-height: 35px;
  text-align: center;
  font-weight: 100;
  color: #C7C7C7;
  font-size: 0.9em;
  position: relative;
}
.bottom-line {
  width: 100%;
  position: absolute;
  bottom:3px;
  height: 3px;
  background-color: #048d4d;
}
