* {
	padding: 0;
	margin: 0;
}

body {
	color: #fff;
	font-size: 1.1rem;

}
.backimg {
	position: fixed;
	width: 100%;
	height: 100%;

	background: url(http://ihuan.me/bing) center no-repeat;

	z-index: -100;
}
.container {
	width: 100%;
	/*padding: 4% 0 0 0;*/
	/*font-size: 1rem;*/
}
.form-inoput-city {
	width: 100%;
	display: none;
	position: relative;
	height: 2.5rem;
}
.form-inoput-city input {
	position: absolute;
	left: 0;
	width: 80%;
	height: 2.5rem;
	border: 1px solid #25ab16;
	border-radius: 4px;
	font-size: 1.2rem;
}
#btn-ok {
	position: absolute;
	right: 0;
	width: 18%;
	height: 2.5rem;
	background-color: #25ab16;
	border: 1px solid #25ab16;
	color: #fff;
	border-radius: 4px;
	font-size: 1.2rem;
}



.info-top {
	text-align: center;
	height: 65px;
	text-shadow:0px 0px 4px #000;
	background: rgba(0,0,0,0.4);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 20%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 20%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.4) 20%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 20%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 20%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0.4)', endColorstr='rgba(0,0,0,0)',GradientType=0 );
}
.info-top p:nth-child(2){
	font-size: 1.2rem;
	line-height: 1.5rem;
}
.info-top p:nth-child(1){
	line-height: 1.5rem;
	font-size: 0.9rem;
}

.info-base {
	width: 100%;
	/*height: 516px;*/
	/*padding: 0 4%;*/
	position: relative;
}
.info-base-left {
	position: absolute;
	bottom: 0.5rem;
	left: 4%;
	width: 45%;

}
.base-tmp {
	font-size: 6rem;
	font-weight: 0;
}
.base-cond {
	font-size: 2rem;
	line-height: 2.5rem;
}
.info-base {
	text-shadow:1px 1px 4px #000;
}
.info-base-center {
	padding-right:4%;
	width: 21%;
	position: absolute;
	bottom: 0.5rem;
	left: 50%;
	line-height: 1.5rem;
	border-left: 1px solid #fff;

}
.info-base-center p {
	text-align: right;
}
.info-base-right {
	width: 20%;
	position: absolute;
	bottom: 0.5rem;
	left: 75%;
	line-height: 1.5rem;
}
.bg-gradient-base {
	height: 15rem;
	width: 100%;
	background: rgba(0,0,0,0.4);
	position: absolute;
	bottom:0;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 20%, rgba(0,0,0,0.4) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.4)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 20%,rgba(0,0,0,0.4) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 20%,rgba(0,0,0,0.4) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 20%,rgba(0,0,0,0.4) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 20%,rgba(0,0,0,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0)', endColorstr='rgba(0,0,0,0.4)',GradientType=0 );

}

.info-detail {
	width: 100%;
	padding: 1rem 0 1% 0;
	background-color: rgba(0,0,0,0.4);
}
.detail-section {
	width: 92%;
	padding: 2%;
	/*height: 5rem;*/
	margin: 0 2% 5% 2%;
	background-color: rgba(0,0,0,0.4);
	position: relative;
    border-radius: 0 0 7px 7px;
}
.section-title-block {
	width: 92%;
	padding: 2%;
	margin: 2% 2% 0 2%;
	background-color: rgba(0,0,0,0.4);
	color: rgba(255,255,255,0.7);
  border-radius: 7px 7px 0 0;
}
.section-title {
	line-height: 1.5rem;

}
.info-detail-hourly table{
	font-size: 0.9rem;
	width: 100%;
	line-height: 2rem;
	border: none;
	border-spacing:0;
}

.pop-td {
	position: relative;
}
.pop-num {
	position: absolute;
	left: 0;
	top:0;
	z-index: 2;
	color: #dff;
}
.pop-chart {
	display: inline-block;
	position: absolute;
	left: 0;
	top:10%;
	height: 80%;
	background-color: rgba(95,143,205,0.4);
	z-index: 1;
}
.wind-td {
	position: relative;
}
.wind-point {
	position: absolute;
	left: 0;
	top:10%;
	height: 80%;

}


.info-detail-daily {
	height: auto;
	overflow: auto;
	line-height: 1.5rem;

}
.parent-daily {
	margin-top: 0.5rem;
	width: 160%;
	white-space:nowrap;
}
.daily-block {
	width: 14%;
	/*height: 10rem;*/

	/*margin-right:2%;*/
	background-color: rgba(255,255,255,0.1);
	float: left;
	font-size: 0.8rem;
	text-align: center;

}
.daily-block:nth-child(odd){
	background-color: rgba(0,0,0,0);
}

.daily-weekday {

	text-align: center;
}
.img-cond {
	width: 60%;
	margin: 0 20%;
}
.daily-tmp {
	margin: 1rem 0;
	font-size: 1rem;
}
.daily-tmp-max {
	color:#ffc684;
}
.daily-tmp-min {
	color:#a9e5ff;
}

.block-cond-icon {
	height: 4rem;
	margin: 0.5rem 0;
}
.daily-wind-point {
	display: inline-block;
	width: 40%;
	margin: 2.5rem 30% 0 30%;
	/*height: 1.8rem;*/

}

.data-source-info {
	font-size: 0.8rem;
    text-align: right;
    margin: 1rem 2%;
    color: #ccc;
}
.data-source-info p span{
    color: #fff;
}
.info-detail-hum {

	/*height: 20rem;*/
}
.dashboard {
	position: relative;
	/*height: 10rem;*/
	width: 60%;
}
.dashboard-watch {
	width: 100%;
	position: absolute;
	top: 0.2rem;
}

.dashboard-pointer {
	width: 100%;
	position: absolute;
	top: 0.2rem;
}
.hum-txt {
  width: 60%;
text-align: center;
margin-bottom: 15px;
}

.sg-txt{
    color: #B5B9B4;
    margin: 5px 0
}
.sg-txt p:nth-child(1){
  font-size: 0.8em;
  line-height: 200%;
  color:#8EFF1D;
}
.sg-txt p:nth-child(1) span{
  color:#fff;
}

.sg-txt p:nth-child(2){
  font-size: 0.7em;
  line-height: 180%;
  display: none;
}
.sg-txt:nth-child(odd){
  background-color: rgba(255,255,255,0.1)
}


.blur {
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */

/*    -webkit-filter: blur(20px);
       -moz-filter: blur(20px);
        -ms-filter: blur(20px);
            filter: blur(20px);*/

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
.hide {
	display: none;
}
hr {

  height: 0pt;
  border: none;
  border-top: 0.5pt solid #777;
}
