* {
	padding: 0;
	margin: 0;
}
#activity_05 {
	background-color: #f3f3f3;
}
.bold {
	font-weight:900;
}

/*结构----------------*/
.header {
	width: 100%;
	height: 7%;
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0; 

}

.container {
	width: 100%;
	height: 60%;
	margin-top: 18%;
	padding: 0 4%;
	background-color: #FFF;
}

.submit-footer {
	border-top: 2px solid #DEDEDE;
	padding: 0 4% 0 4%;
	width: 100%;
	height: 8%;
	background-color: #FFF;
	position: fixed;
	bottom: 0;
	left: 0;
}


/*按钮--------------------*/
.button-back {
	
	height: 100%;
	width: auto;
}

/*标题--------------------*/
.title {
	/*font-size: 300%;*/
	font-size: 2.5vh;
	color: #FFF;
	text-align: center;
	position: relative;
	top: 32.5%;

}

/*表单--------------------*/

.button-next {
	height: 2.5vh;
	margin: 2.7vh 0;
	width: auto;
	float: right;
}

.li-icon img{
	height: 2.5vh;
	margin: 2.7vh auto;
	width: auto;

}
.li-icon {
	width: 60px;
	height: auto;
	position: absolute;
	left: 0;
}
.list-name {
	color: #888;
	position: relative;
	left: 7%;
	clear: both;
}
.list-value {
	margin:0 2%;
	float: right;
}
.food-bar {
	font-size: 2.5vh;
	line-height: 13vh;
	height: 100%;
	width: 92%;
	border-bottom: 2px dashed #DEDEDE;
}
.li-bar {
	font-size: 2.2vh;
	line-height: 8vh;
	height: 100%;
	width: 92%;
	border-bottom: 2px solid #DEDEDE;
	position: relative;


}

.cost-bar {
	font-size: 2vh;
	line-height: 8vh;
	height: 100%;
	width: 92%;
	position: relative;
}
.food-price {
	float: right;
}

/*页脚--------------------*/

.button-submit {
	margin: 1.8% 9%;
	width: 30%;
	height: 75%;
	font-size: 2.7vh;
	color: #FFF;
	background-color: #f7610b;
	border: none;
	border-radius: 10px;
	float: right;

}


